<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!---------------------styles--------------------->
  {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/projectDashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		<!---------------------fonts--------------------->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<!---------------------scripts--------------------->
		<script src=" {% static 'js/projectDashboard.js' %}" defer></script>
		<script src=" {% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
		<script src=" {% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/vendor/material-components-web.min.js' %}"></script>
		<script src="{% static 'js/vendor/popper.min.js' %}"></script>
		<!---------------------necessary for chart--------------------->
		<script src="{% static 'js/vendor/d3.v4.min.js' %}"></script>
		<script src="{% static 'js/vendor/billboard.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/billboard.min.css' %}"/>
		<script src="{% static 'js/vendor/Chart.min.js' %}"></script>
      <title>{% block title %}CMSC451{% endblock %}</title>
  </head>
  <body>
    <!-- Side navigation -->
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/create">Create</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
<!-- Page content -->
  <div class="main">
    <div class="row justify-content-center">
      <div class="col-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  </body>
</html>