   
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <h1 style="text-align: center; padding: 0px; margin-left: 0px;">Home</h1>
  <br>
  <h3 style="text-align: left;">Welcome, {{ user.username }}!</h3>
  <h2>You have {{ user.todolist.count }} active projects</h2>
{% else %}
<main>
  <h1 class="visually-hidden">CMSC451 Project Management Website</h1>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">The Team</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="profile-bg p-3">
        <div class="text-center">
          <img src="https://avatars.githubusercontent.com/u/98194259?v=4" class="rounded-circle" height="150" width="150">
        </div>
        <br>
        <h3>William Meyer</h3>
        <div class="profile-info p-3">
          <h4>Team Lead</h4>
          <p style="color: rgb(156, 157, 158);">Senior at UMGC majoring in Computer Science while working as a Project Manager in Telecom. As the Team Lead,
            Will is responsible for the direction of the project, all documentation, and assisting through any roadblocks in development.</p>
          <div class="profile-info p-3">
          <a href="https://github.com/MeyerWilliam" class="icon-link">
            Github
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </svg>
          </a>
          </div>
          </div>
       </div>
      </div>
      <div class="feature col">
        <div class="profile-bg p-3">
        <div class="text-center">
          <img src="https://avatars.githubusercontent.com/u/36039121?v=4" class="rounded-circle" height="150" width="150">
        </div>
        <br>
        <h3>Justin Apostol</h3>
        <div class="profile-info p-3">
          <h4>Back-end developer</h4>
          <p style="color: rgb(156, 157, 158);">Senior at UMGC majoring in Computer Science with experience as a Software Developer in Government contracting. Justin is responsible for the back end development for functionality of the program.</p>
          <div class="profile-info p-3">
          <a class href="https://github.com/Justin444" class="icon-link">Github
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
          </a>
          </div>
          </div>
       </div>
      </div>
      <div class="feature col">
        <div class="profile-bg p-3">
        <div class="text-center">
          <img src="https://avatars.githubusercontent.com/u/36568440?v=4" class="rounded-circle" height="150" width="150">
        </div>
        <br>
        <h3>Maurice Wilson</h3>
        <div class="profile-info p-3">
          <h4>Front-end developer</h4>
          <p style="color: rgb(156, 157, 158);"> Senior at UMGC majoring in Computer Science and current active duty member of the United States Air Force.
            Maurice is responsible for front end development utilizing Bootstrap.</p>
          <div class="profile-info p-3">
          <a href="https://github.com/mosiris" class="icon-link">
            Github
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
          </a>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>

</main>
{% endif %}
{% endblock %}