{% extends 'base.html' %}

{% block title %}View List{% endblock %}

{% block content %}
		<div class="project-controller">
			<h1 class="project-title">Project Title</h1>
			<div class="project-control-buttons">
				<button class="btn btn-danger mx-2" id="deleteProject">
<!---------needs a javascript action linked here to delete project--------->
					Delete Project
				</button>
			</div>
		</div>
<!---------start code for chart--------->
		<div class="project-pie" id="donut-chart"></div>
		<script>
			var chart = bb.generate( {
				data: {
					columns: [
						["Blue", 2],
						["Yellow", 4],
						["Green", 3],
						["Red", 3],
						["Purple", 3],
					],
					type: "donut",
				},
				donut: {
					title: "Total tasks: #",
				},
				bindto: "#donut-chart",
			});
		</script>
<!---------stop chart code view a percentage of each task which is "in progress", etc--------->
		<div class="controls p-3">
			<form class="form-inline">
				<label for="titleInput">New Task Title:</label>
				<input class="form-control form-control-sm" type="text" name="title" id="titleInput" autocomplete="off">
				<label for="descriptionInput">New Task Description:</label>
				<input class="form-control form-control-sm" type="text" name="description" id="descriptionInput" autocomplete="off">
				<button class="btn btn-dark" id="add">Add Task</button>
				<button class="btn btn-danger mx-2" id="deleteAll">Delete All Tasks</button>
			</form>
		</div>
		<div class="boards overflow-auto p-0" id="boardsContainer">
			<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
			<script>if (window.module) module = window.module;</script>
			<script type="text/javascript">
				(function() {
					var ga = document.createElement('projectDashboard');
					ga.type = 'text/javascript';
					ga.async = true;
					var s = document.getElementsByTagName('projectDashboard')[0];
					s.parentNode.insertBefore(ga, s);
				})();
			</script>
		</div>
	<h2>{{ls.name}}</h2>
	<form method="post", action="#">
		{% csrf_token %}

		{% for item in ls.item_set.all%}
			<div class="input-group mb-3">
	  			<div class="input-group-prepend">
	    			<div class="input-group-text">
	      				<input type="checkbox" name="c{{item.id}}" value="clicked" aria-label="Checkbox for following text input" {% if item.complete %} checked {% endif %}>
	    			</div>
	  			</div>
	  			<input type="text" name="text{{item.id}}" value="{{item.text}}" class="form-control" aria-label="Text input with checkbox">
			</div>
		{% endfor %}

		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="add", value="add", type="submit", class="btn btn-success">Add New</button>
	  		</div>
	  		<input type="text" name="new" value="" class="form-control">
	  		
		</div>
		<br>
		<button name="save", value="save", type="submit", class="btn btn-success">Save</button>
	</form>
{% endblock %}