{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.p-3 {
    	min-height: 0 !important;
	}
	.col-8 {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
</style>
<!-- second nav for adding new tasks -->
<ul style = "margin: 0;">
        <div class="controls p-3">
			<form class="form-inline" action="#" method="post">
				{% csrf_token %}
				<label for="titleInput">New Task Title:</label>
				<input class="form-control form-control-sm" type="text" name="title" id="titleInput" autocomplete="off">
				<label for="descriptionInput">New Task Description:</label>
				<input class="form-control form-control-sm" type="text" name="description" id="descriptionInput" autocomplete="off">
				<button class="btn btn-dark" id="add">Add Task</button>
				<button class="btn btn-danger mx-2" id="deleteAll">Delete Selected Tasks</button>
				<div class="topnav-right">
					<button name="deleteProj", value="deleteProj", type="submit", class="btn btn-danger mx-2">Delete Project</button>
				</div>
			</form>
		</div>
    </ul>
		<div class="project-controller">
			<h1 class="project-title">{{ls.name}}</h1>
		</div>
<!---------start code for chart--------->
		<div class="project-pie" id="donut-chart"></div>
		<script>
			var chart = bb.generate( {
				data: {
					columns: [
						["Blue", 2],
						["Yellow", 4],
						["Green", 3],
						["Red", 3],
						["Purple", 3],
					],
					type: "donut",
				},
				donut: {
					title: "Total tasks: #",
				},
				bindto: "#donut-chart",
			});
		</script>
<!---------stop chart code view a percentage of each task which is "in progress", etc--------->
		<div class="boards overflow-auto p-0" id="boardsContainer">
			<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
			<script>if (window.module) module = window.module;</script>
			<script type="text/javascript">
				(function() {
					var ga = document.createElement('projectDashboard');
					ga.type = 'text/javascript';
					ga.async = true;
					var s = document.getElementsByTagName('projectDashboard')[0];
					s.parentNode.insertBefore(ga, s);
				})();
			</script>
		</div>
	<form method="post", action="#">
		{% csrf_token %}

		{% for item in ls.item_set.all%}
			<div class="input-group mb-3">
	  			<div class="input-group-prepend">
	    			<div class="input-group-text">
	      				<input type="checkbox" name="c{{item.id}}" value="clicked" aria-label="Checkbox for following text input" {% if item.complete %} checked {% endif %}>
	    			</div>
	  			</div>
	  			<input type="text" name="text{{item.id}}" value="{{item.text}}" class="form-control" aria-label="Text input with checkbox">
			</div>
		{% endfor %}

		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="add", value="add", type="submit", class="btn btn-success">Add New</button>
	  		</div>
	  		<input type="text" name="new" value="" class="form-control">

		</div>
		<br>
		<button name="save", value="save", type="submit", class="btn btn-success">Save</button>
		<button name="delete", value="delete", type="submit", class="btn btn-danger mx-2">Delete selected</button>
	</form>
{% endblock %}